{% from 'msg.jinja' import display_msg %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/input.css">
    <link rel="stylesheet" href="/static/message.css">
    <script src="/static/msg.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    {% block extra_import %}
    {% endblock %}
</head>

<body>
    <nav>
        {% if current_user.is_active %}
        <span><a href="/dashboard">Dashboard</a></span>
        <span><a href="/dashboard/plugins">Plugins</a></span>
        {% else %}
        <span><a href="/">Login</a></span>
        {% endif %}
    </nav>
    <main>
        {{ display_msg(get_flashed_messages(with_categories=True)) }}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; 2021 meow55555
    </footer>
</body>

</html>