{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<p>Server Status: {{ server_status }}</p>
{% for con in connections %}
<div>
    <div>IP address: {{ con["ip"] }}</div>
    <div>User Token: {{ con["token"] }}</div>
    <div>SSH key: {{ con["ssh_key"] }}</div>
    <div>User Active: {{ con["active"] }}</div>
    <div>User Status: {{ con["status"] }}</div>
    <div>Reconnect Times: {{ con["reconnect_times"] }}</div>
    <div>Role: {{ con["role"] }}</div>
</div>
{% endfor %}
{% endblock %}