{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<p>Server Status: {{ server_status }}</p>
{% for con in connections %}
<div class="card">
    <div><b>IP address:</b> {{ con["ip"] }}</div>
    <div><b>User Token:</b> {{ con["token"] }}</div>
    <div><b>SSH key:</b> {{ con["ssh_key"] }}</div>
    <div><b>User Active:</b> {{ con["active"] }}</div>
    <div><b>User Status:</b> {{ con["status"] }}</div>
    <div><b>Reconnect Times:</b> {{ con["reconnect_times"] }}</div>
    <div><b>Role:</b> {{ con["role"] }}</div>
</div>
{% endfor %}
{% endblock %}