{% macro display_msg(messages) %}
<div id="messages">
    {% if messages %}
    {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            <span class="closebtn" onclick="hide(this.parentElement)">&times;</span>
            <span>{{ message }}</span>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}